@import '../../Styles/config';

.home-grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	overflow-y: scroll;
}

@include media-lg {
	.home-grid {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 1.4fr 3fr;
		overflow: hidden;

		.menu-btn {
			display: none;
		}
	}
}
